*{
    box-sizing: border-box;
  }
  .myapp{
    display: block;
    width: 100%;
    display: flex;
  }
  .wrapper-menu{
    width: 60%;
    padding-right: 100px;
    display: inline-block;
  }
  .wrapper-menu .item img{
    width: 90px;
    height: 70px;
  }
  .wrapper-menu .item{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  .wrapper-menu .item .text-box{
    margin-right: 20px;
    margin-left: 10px;
  }
  .wrapper-menu .item h4{
    margin: 0; 
  }
  .wrapper-menu .item .act-box{
    flex: 1;
    text-align: right;
  }
  .wrapper-menu .item input{
    width: 50px; 
    text-align: center;
    border: none;
    color: white;
    background: grey;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .wrapper-menu .item button{
    border: none;
    background: lightgreen;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
  }
  
  .wrapper-order{
    width: 40%;
    display: inline-block;
    background: #f1f1f1;
    padding: 20px;
  }
  .wrapper-order #list-order div{
    border-bottom: 1px solid #bebebe;
  }
  .wrapper-order .elm-calc{
    display: flex;
    font-size: 20px;
  }
  .wrapper-order .elm-calc b{
    flex: 1;
    text-align: right;
    padding-right: 15px;
  }
  