<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>YOUTUBE</title>
	<link rel="stylesheet" href="css.css">
</head>
<body>
	<div class="menutop">
		<img src="menu.png" alt="menu " style="width: 35px; height: 35px;">
		<img src="youtube1.jpg" alt="icon"  style="width: 50px; height: 35px;">
		<form action="#">
			<input type="text" name="input" placeholder="Tìm Kiếm"  style="width: 500px;" id="search">
			<button>Tìm kiếm</button>
		</form>
	</div>
	<div class="trai">
		<ul>
			<li><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-collection-play-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M1.5 14.5A1.5 1.5 0 0 1 0 13V6a1.5 1.5 0 0 1 1.5-1.5h13A1.5 1.5 0 0 1 16 6v7a1.5 1.5 0 0 1-1.5 1.5h-13zm5.265-7.924A.5.5 0 0 0 6 7v5a.5.5 0 0 0 .765.424l4-2.5a.5.5 0 0 0 0-.848l-4-2.5zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z"/>
</svg>Trang chủ</li>
			<li>Thịnh Hành</li>
			<li>Kênh Đăng kí</li>
			<li>Thư viện</li>
			<li>Lịch sử</li>
			<li>Video đã thích</li>
			<li>Thêm</li>
		</ul>
	</div>
	<div class="phai">
		<div class="tren">
			<div class="trentrai">
				<img src="iphone.jpg" alt="ad">
			</div>
			<div class="trenphai">
				<img src="cat.jpg" alt="cat" >
			</div>
		</div>
		<div class="duoi">
			<ul>
				<li><a href="https://www.youtube.com/watch?v=GUDpPORjaCY"><img src="music.png" alt="music"> <h1>ANH THƯƠNG EM CÒN NON DẠI<h1></</a></li>
				<li><img src="ncs.jpg" alt="ncs"> <h1>DANH SACH NHẠC KẾT HỢP</h1></li>
				<li><img src="english.jpg" alt="english"> <h1>ENGLISH SPEECH</h1></li>
			</ul>
		</div>
	</div>
	
</body>
</html>