body{
	font-family: 'Roboto',sans-serif;
	background-image: url("../../bg.jpg");
	
}
.nhanvien .bophan li{
	transition-duration: 1s;
}
.nhanvien .bophan li:hover{
	padding-left: 10px;

}
*{
	margin:0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.search button{
	border-radius: 8px;
	background:transparent;
	padding: 8px 24px;
	border:2px solid white;
	color: white;
	font-weight: bold;
	font-size: 20px;
} 
.search button:hover{
	cursor: pointer;
	background-color: #333456;
}
.sidebar{
	position: fixed;
	left: -250px;
	width: 250px;
	height: 100%;
	background: #042331;
	transition: all .5s ease;
}
.sidebar header{
	font-size: 22px;
	color: white;
	/*text-align: center;*/
	line-height: 70px;
	background: #063146;
	user-select: none;
}
.sidebar ul a{
	display: block;
	height: 100%;
	width: 100%;
	line-height: 65px;
	font-size: 20px;
	color: white;
	padding-left: 40px;
	box-sizing: border-box;
	border-top: 1px solid rgba(255,255,255,.1);
	/*border-bottom: 1px solid black;*/
	transition: .4s;
}
.sidebar ul li a:hover {
	padding-left: 50px;
	background-color: orange;
}
.sidebar ul a i{
	margin-right: 16px;
}
#check{
	display: none;
}
label #btn,label #cancel{
	position: absolute;
	cursor: pointer;
	background: #042331;
	border-radius: 3px;
}
label #btn{
	left: 40px;
	top: 18px;
	font-size: 35px;
	color: white;
	padding: 6px 12px;
	transition: all .5s;
}
label #cancel{
	z-index: 1111;
	left: -195px;
	top: 17px;
	font-size: 30px;
	color: #0a5275;
	padding: 4px 9px;
	transition: all .5s;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
	left: 250px;
	opacity: 0;
	pointer-events: none;
}
#check:checked ~ label #cancel{
	left: 195px;
}
#check:checked ~ section{
	margin-left: 250px;
}
.menu{
	/*background-color: #042331;*/
	height: 80px;
	/*width: 100%;*/
	/*border:1px gray solid;*/
}


.ad{

	width: 100%;
	height: 100px;
	/*font-size: 20px;*/
	text-align: center;
	border-bottom:1px black solid;
}
*{
	box-sizing:border-box;
}

[class*="col-"]
{
	float: left;

}
.row::after{
	clear: both;
	content: "";
}
/*smartphone*/
[class *="col-"]{

	width: 100%
}
/*tablet*/
@media only screen and (min-width: 600px){
	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 { width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}

}
/*desktop*/
@media only screen and (min-width:768px )
{
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 24%}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

}
.than{
	/*position: fixed;*/
	clear: both;
	/*background-color: gray;*/
	min-height: 500px;
	width:100%;
	margin:10px auto;
}

/*.chucvu{
	clear:both;
}*/

.nhanvien{
	clear:both;
	margin-top:10px;
	height: 550px;
	/*position: relative;*/
}
.search{
		font-family: 'Baloo Chettan 2', cursive;
	/*position: fixed;;*/
	/*background-image: url("../../bg.jpg");*/
	height: 100%;
	margin:0px 5px;
	/*position: absolute;*/
	font-size: 20px;
}
.bang{
	background-color: white; ;
	min-height: 500px;
}
.search .bophan ul{
	list-style: none;
	width: 90%;
	min-height: 200px;
	/*background-color: gray;*/
	margin:5px auto;
}
.search .bophan ul li{
	/*text-align: center;*/
	min-height: 30px;
	color: white;
	/*line-height: 10px;*/
	display: block;
	/*margin-bottom: 10px;*/
	padding-top: 20px;
	padding-left: 20px;
	border-bottom: 1px white solid;
	padding-bottom: 10px;

}
.search .bophan ul li a{
	text-decoration: none;
	color: white;
}
.search form{
	width: 90%;
	min-height: 200px;
	margin:10px;

}
.search table{
	width: 100%;

	text-align: left;
	color: white;
	/*margin-top:20px;*/
}
.search li:hover{
	background-color: gray;
}
.search form{
	width: 90%;
	min-height:100px;
	border:1px white solid;
	margin:10px auto;

}

.next{
	width: 100%;
	height: 30px;
	background-color: #8c7777;
	color: white;
	padding:5px;
}
.table{
	width:100%;
	min-height: 600px;
}
.caidat{
	width:100%;
	height: 50px;
	background-color: gray;
}
.nv{
	width:100%;
	min-height: 400px;
	/*background-color: white;*/
	/*color: white;*/
	margin-top:10px;
}
.nv table{
	background-color: white;;
}
.titi{
	height: 30px;
	background-color: gray;
}
.caidat h5{
	width:100px;
	height: 20px;
	margin-right: 10px;
	margin-top:10px;
	background-color: blue;
	float: right;
	border-radius: 2px;
	text-align: center;
	padding:3px;
}
.caidat a{
	color:white;
}
.nv td{
	text-align: center;
	height: 50px;
}
.nv th{
	height: 50px;

}


