*{
	margin: 0;
	padding: 0;
}
.phantren {
	width: 100%;
	height: 100px;
	background: #ab673a;
	margin-bottom: 10px
}
.phangiua {
	width: 100%;
	height: 600px;
	background: red;
}

.trai {
	width: 30%;
	float: left;
	height: 600px;
	background: black;
}

.mid {
	width: 40%;
	float: left;
	height: 600px;
	background: gray;
}

.phai {
	width: 30%;
	float: left;
	height: 600px;
	background: purple;
}


.phanduoi {
	margin-top: 30px;
	width: 100%;
	height: 100px;
	background: yellow;
}
